html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-accent, .bg-accent {
    background-color: #FF8C00 !important;
    border-color: #FF8C00 !important;
    color: white !important;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #0056B3;
    color: #f8f9fa;
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 20px;
}

    .sidebar .nav-link {
        color: #f8f9fa;
        padding: 10px 15px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

        .sidebar .nav-link:hover {
            background-color: #007BFF;
            color: white;
        }

#content {
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    background-color: #F8F9FA;
}